@import "boxicons/css/boxicons.min.css";
:root{
  --border-radius:5px;
}
body {
  margin: 0;
}
html{
  scrollbar-width: thin;
}
/* Home */
.Main_home {
  max-width: 900px;
  margin: 0 auto;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #fff;
    margin: 1rem;
    button {
      background-color: #57a4d1;
      padding: 5px;
      font-size: 1.5rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #96bfd6;
      }
    }
  }
}

/* -Login */
form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
  max-width: 300px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #aaa3a3;
  border-radius: var(--border-radius);
  .email,
  .password {
    display: flex;
    flex-direction: column;
  }
  div {
    display: flex;
    gap: 5px;
    padding: 5px;
  }
  input {
    border-radius:var(--border-radius);
    padding: 5px;
    cursor: pointer;
  }
}

input[type="submit"] {
  cursor: pointer;
}
.google {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  cursor: pointer;
  .icon {
    height: auto;
    width: 1.5rem;
  }
  transition: all 0.5s ease;
  &:hover {
    background-color: #dcd7d7;
    transform: scale(1.1, 1.1);
  }
  .iconLogout {
    color: rgb(14, 8, 9);
    &:hover {
      color: red;
    }
  }
}
.iconLogout {
  font-size: 1rem;
  padding: 5px;
}
form > * {
  margin: 0 1rem 0 1rem;
}
.email,
.password {
  position: relative;
  .iconInput {
    top: 34px;
    right: 1rem;
    position: absolute;
  }
}
/* Component About */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}



