:root{
  --border-radius:5px;
}

.errorTitle{
    color: red;
}
.OffNavbar {
    display: none;
  }
  .Div_btnForm {
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }
.ShowTasks{
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  div{
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    background-color: #7a9fab;
    border: 1px solid #000;
    border-radius: var(--border-radius);
    gap: 2rem;
    margin: 1rem auto;
    h3{
      filter: drop-shadow(1px 1px 1px #000000);
      color: rgb(224, 213, 215);
    }
  }
}
